@using EFProject.Models
@model Product
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<br />
<form method="post">
	<input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" value="@Model.Name" asp-for="Name" />

	</div>
	<div class="form-group">
		<label>Description</label>
		<input class="form-control" value="@Model.Description" asp-for="Description" />

	</div>
	<div class="form-group">
		<label>Price</label>
		<input class="form-control" value="@Model.Price" asp-for="Price" />

	</div>
	<div class="form-group">
		<label>Category</label>
		<input class="form-control" value="@Model.Category" asp-for="Category" />

	</div>
	<div class="form-group">
		<label>Stock</label>
		<input type="number" class="form-control" value="@Model.Stock" asp-for="Stock" />

	</div>

	<input type="submit" value="Update" class="btn btn-info" />

</form>

